#square {
  position: absolute;
  top: 350px;
  left: 50px;
  width: 124px;
  height: 124px;
  background-color: salmon;
  margin-left: 50%;
}

@keyframes rolling {
  from {
    left: 36px;
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }

  to {
    left: 600px;
    transform: scale(0.25) rotate(1000deg);
    opacity: 0;
  }
}

#square {
  animation-name: rolling;
  animation-duration: 3 s;
  animation-timing-function: ease-in;
  animation-delay: 2s;
  /* animation-iteration-count: 3; */
  animation-iteration-count: infinite;
  /* animation-direction: reverse; */
  animation-direction: alternate;
}
